<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Flogo.png?alt=media&token=75a232d0-4662-4b50-b0ae-ee6f8d88322f" type="image/x-icon"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylea.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font Link for Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <script src="{{ url_for('static', filename='js/scriptca.js') }}" defer></script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MAGIC TECH</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
  
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Flogo.png?alt=media&token=75a232d0-4662-4b50-b0ae-ee6f8d88322f" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services">services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="our_projects"> our projects </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">START NOW</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="login">
                <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fuser.png?alt=media&token=2f47858c-a014-4b4d-b71f-68da852f515a" alt="">
                <span>
                  Login
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="play_btn">
        <a href="contact">
          <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fplay.png?alt=media&token=c4703df1-12b6-438c-9cf6-dca588f37a14" alt="">
        </a>
      </div>
      <!-- <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
          </ol>
        </div>
      </div> -->
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Technolagy
                      <span>
                        MagicTech
                      </span>
                    </h1>
                    <p>
                      Unleash the power of knowledge at your fingertips.
                    </p>
                    <div class="btn-box">
                      <a href="contact" class="btn-1">
                        GET STARTED
                      </a>
                      <a href="services" class="btn-2">
                        EXPLORE NOW
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fpic1.png?alt=media&token=4b7c8791-49b3-486b-b354-9254703942a7" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      TECHNOLGY
                      <span>
                        MagicTech
                      </span>
                    </h1>
                    <p>
                      Our site is your gateway to the ever-evolving realm of technology.
                    </p>
                    <div class="btn-box">
                      <a href="contact" class="btn-1">
                        GET STARTED
                      </a>
                      <a href="services" class="btn-2">
                        EXPLORE NOW
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fpic2.png?alt=media&token=833b5959-32e0-4532-84c0-c498c3929b5d" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      TECHNOLGY
                      <span>
                        MagicTech
                      </span>
                    </h1>
                    <p>
                      Dive into the world of cutting-edge technology.
                    </p>
                    <div class="btn-box">
                      <a href="contact" class="btn-1">
                        GET STARTED
                      </a>
                      <a href="services" class="btn-2">
                        EXPLORE NOW
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fpic3.png?alt=media&token=8a337aa0-a647-47b0-a831-04e4ff77da16" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      TECHNOLGY
                      <span>
                        MagicTech
                      </span>
                    </h1>
                    <p>
                      Let's explore and create your projects and ideas with magic tech.
                    </p>
                    <div class="btn-box">
                      <a href="contact" class="btn-1">
                        GET STARTED
                      </a>
                      <a href="services" class="btn-2">
                       EXPLORE NOW 
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fpic4.png?alt=media&token=d236a169-d3f2-4089-8110-ed7e360acc6d" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>

            </div>
            <p>
              Welcome to our company, a leading provider of comprehensive services specializing in website development, AI projects, and mobile app solutions...
            </p>
            <a href="about">
              READ MORE
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fabout-imgr.png?alt=media&token=91782129-729a-4708-b331-3cbec3e51141" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- trending section -->

  <section class="trending_section layout_padding">
    <div id="accordion">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  OUR PROJECTS
                </h2>
              </div>
              <div class="tab_container">
                <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="number">
                    <h5>
                      01
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Web Sites
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <div class="number">
                    <h5>
                      02
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Mobile Apps
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <div class="number">
                    <h5>
                      03
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      AI Projects
                    </h5>
                  </div>
                </div>
                <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <div class="number">
                    <h5>
                      04
                    </h5>
                  </div>
                  <hr>
                  <div class="t-name">
                    <h5>
                      Other projects
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fweb2.png?alt=media&token=4cdcbf9c-a2ff-4bf7-bc05-75063e09bddb" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fweb3.png?alt=media&token=47ff82cf-49c7-45e4-a56d-f117ce1796c8" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fweb5.png?alt=media&token=5585acd9-1220-48ca-8d2b-8eba8af8c25a" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fweb4.png?alt=media&token=f0356fee-60c6-4acb-b753-ec56129a17fa" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fapp1.jpg?alt=media&token=64275ae8-d100-40a8-afde-29ec31f129c6" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fapp2.jpg?alt=media&token=5cb80cfd-1695-44f2-8921-65467b3ebf29" alt="">
                  </div>
                </div>
                <div class="box b-2">

                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fapp3.jpg?alt=media&token=4660de36-5586-4b2f-9417-af0e125365a5" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fapp4.jpg?alt=media&token=d94e2fcb-c97b-4f08-bf21-87f0e7479665" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fai1.jpg?alt=media&token=6c33c734-7505-4591-8eeb-f4931f73d9fd" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fai2.jpg?alt=media&token=8b23b72f-0ea3-424d-892c-fcf4c1260fa9" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fai3.jpg?alt=media&token=e87dc78d-84c4-421d-8e22-6db3b27b525f" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fai4.jpg?alt=media&token=047ac56a-6f79-4706-8b43-30b311557881" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
              <div class="img_container ">
                <div class="box b-1">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fo1.jpg?alt=media&token=5f87410c-efe4-4187-88ca-a0e27bffec7b" alt="">
                  </div>

                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fo2.jpg?alt=media&token=ce2352b8-a0e4-4f84-af0a-b548dd7882a9" alt="">
                  </div>
                </div>
                <div class="box b-2">
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fo3.jpg?alt=media&token=e0c1bd14-10f1-4f37-86ee-d965199576b5" alt="">
                  </div>
                  <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fo4.jpg?alt=media&token=e2eb7c57-6780-42fd-be5c-98050d3f9469" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end trending section -->

  <!-- discount section -->

  <section class="discount_section  layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              FOR FIRST THREE PROJECTS
            </h2>
            <h2 class="main_heading">
              50% DISCOUNT
            </h2>

            <div class="">
              <a href="contact">
                Start Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fdiscount-img.png?alt=media&token=e14e55d7-6cf4-47aa-84f5-e4938f0c1cec" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end discount section -->


  <!-- brand section -->

  <section class="brand_section">
    <div class="container" style="margin-bottom: 100px;">
      <div class="heading_container">
        <h2>
          Services
        </h2>
      </div>
      <div class="brand_container layout_padding2">
        <div class="card-servse" >
          <a href="\contact"><img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2FappCover.png?alt=media&token=32a953b9-7377-44de-adc8-af9e35404553" alt=""></a>
          <h3>App Development</h3>
          <p>
            Harness the power of AI with chatbots, recommendation systems,
            and data analysis tools to revolutionize operations and drive
            business growth.
          </p>
        </div>
        <div class="card-servse" >
         <a href="\contact"> <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fwebcover.jpg?alt=media&token=03fbd533-5ecd-4756-92b9-92f406a81d32" alt=""></a>
          <h3>Web Development</h3>
          <p>
            Stunning, responsive websites that captivate your audience 
            and drive results, built by our expert web development team.
          </p>
        </div>
        <div class="card-servse" >
          <a href="\contact"><img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2FaiCover.jpg?alt=media&token=a2b18492-ead2-481d-85fb-e201a2083a6f" alt=""></a>
          <h3>Ai Development</h3>
          <p>
            Intuitive and engaging apps crafted by our skilled developers,
            delivering seamless user experiences across mobile and desktop
            platforms.
          </p>
        </div>
        <div class="card-servse" >
         <a href="\contact"><img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2FotherCover.png?alt=media&token=a682149d-f14f-450c-ab49-185f9a332cdf" alt=""></a> 
          <h3>Other</h3>
          <p>
            Tailored software and hardware solutions driving exceptional results
            for businesses, aligning precisely with their unique needs and objectives.
          </p>
        </div>

    </div>
    
  </section>

  <!-- end brand section -->
  <!-- contact section -->



  <!-- end contact section -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testimonial
        </h2>
      </div>
    </div>

    <div class="container">
      <div class="client_container layout_padding2">
        <div class="client_box b-1">
          <div class="client-id">
           
            <div class="name">
              <h5>
                Aaa_shrud
              </h5>
              <p>
                aaashrud@gmail.com
              </p>
            </div>
          </div>
          <div class="detail">
            <p>
              Just wanted to give a huge shout-out to MagicTech for their amazing website development skills. They transformed my ideas into a jaw-dropping website that exceeded my expectations. If you need top-notch web development, I highly recommend them!
            </p>
            <div>
              <a target="_blank" href="mailto:aaashrud@gmail.com" >
              <div class="arrow_img">
               
              </div>
            </a> 
            </div>
          </div>
        </div>
        <div class="client_box b-2">
          <div class="client-id">
         
            <div class="name">
              <h5>
                abu_malek
              </h5>
              <p>
                abu.malekaltop@gmail.com
              </p>

            </div>
          </div>
          <div class="detail">
            <p>
              I wanted to share my fantastic experience with MagicTech's AI project services. Their expertise and dedication were impressive, helping us leverage AI for operational efficiency and valuable insights. If you're looking for AI solutions, they're the ones to go to!
            </p>
            <div>
              <a target="_blank" href="mailto:abu.malekaltop@gmail.com" >
              <div class="arrow_img">
              
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          MAGICTECH
        </h2>
      </div>
      <div class="row">


        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Us
            </h5>
            <div>
              <div class="img-box">
                <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Flocation-white.png?alt=media&token=391090c0-c30c-433d-a531-c6657c20116e" width="18px" alt="">
              </div>
              <p>
                Palestine
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Ftelephone-white.png?alt=media&token=3dbeaffb-3ed2-40be-a87b-53c090072c79" width="12px" alt="">
              </div>
              <p>
                +972 567146842
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fenvelope-white.png?alt=media&token=8dfb15bc-66ee-413d-8cb0-64ff1a7c29f1" width="18px" alt="">
              </div>
            
              <p>
                magic.tech.business@gmail
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              Welcome to our company, a leading provider of comprehensive services specializing in website development, AI projects, and mobile app solutions.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-1">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Finsta.png?alt=media&token=cd3fa732-eab0-416c-95a8-02aab6f8f3c8" alt="">
                  </div>
                </a>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-2">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Finsta1.png?alt=media&token=c178eca6-1e98-4492-a81f-7f211841970f" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-3">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Finsta2.png?alt=media&token=d87bf4b2-b9eb-437a-829d-d089fca54e1a" alt="">
                  </div>
                </a>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Finsta3.jpg?alt=media&token=7eb6dd18-6901-498b-9482-495a778ef096" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-3">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Finsta4.jpg?alt=media&token=395cb7ae-2413-4ae0-84df-d1878e568245" alt="">
                  </div>
                </a>
                <a href="https://instagram.com/magic.tech.instegram?igshid=NGExMmI2YTkyZg==">
                  <div class="insta-box b-4">
                    <img src="https://firebasestorage.googleapis.com/v0/b/magictech-a68b3.appspot.com/o/the%20site%20shiit%2Fweb2.png?alt=media&token=4cdcbf9c-a2ff-4bf7-bc05-75063e09bddb" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Check Status
            </h5>
            <form action="/codeg" , method="post">
              <input type="text" name="code" placeholder="Enter your code">
              <button>
                Check
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="images/fb.png" alt="">
              </a>
              <a href="">
                <img src="images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->

  <!-- end  footer section -->


  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>
</body>

</html>
